.homesection{
   
  background-color: whitesmoke;
  height: 90vh;
  padding: 20px;
}

.Homefifth{

    background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.fifthcontent{
padding: 60px;
background-color: white;
width: 50%;

}
.fifthcontext{

overflow: hidden;
height: 85vh;
 clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}